{% load static %}
<!doctype html>
<html>
    <head>
        <title>Create Recipe</title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Home</a>
                <a href="{% url 'create_recipe' %}">Create Recipe</a>
                <a href="{% url 'create_playlist' %}">Create Stack</a>
                <a href="{% url 'user_login' %}">Logout</a>
            </nav>
        </header>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>CREATE</button>
            </form>
        </main>
        <footer>Made with love by RecipeStack</footer>
    </body>
</html>
