{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RecipeStack</title>
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
  <header>
    <nav>
        <a href="{% url 'recipe_list' %}">Home</a>
        <a href="{% url 'create_recipe' %}">Create Recipe</a>
        <a href="{% url 'create_playlist' %}">Create Stack</a>
        <a href="{% url 'user_login' %}">Logout</a>
    </nav>
  </header>
  <main>
    <h1> Welcome back, {{user.username }}!</h1>
    <h2>
      <a href="{%url 'recipe_list' %}">All Recipes |</a>
      <a href="{% url 'playlist_list' %}"> RecipeStacks</a>
    </h2>
    <div class="recipe-grid">
        {% for playlist in playlist_list %}
        <div>
          <h3>
            <a href="{% url 'show_playlist' playlist.id %}">{{ playlist.title }}</a>
            <p>{{ playlist.created_on|date:"d M Y" }}</p>
          </h3>
          <img src="{{ playlist.picture }}">
        </div>
        {% endfor %}
      </div>
  </main>
  <footer>
    Made with love by RecipeStack
  </footer>
</body>
</html>
