{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="center">
        <h1>RecipeStack</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Login">
            <div class="signup_link">
                Not a Member? <a href="{% url 'signup' %}">Signup</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
